---
- name: Install nginx
  apt:
    name: nginx
    state: present
  become: true

- name: Remove default vhost
  file:
    path: /etc/nginx/sites-enabled/default
    state: absent
  become: true
  notify: reload nginx

- name: Create ACME/redirect default vhost
  copy:
    dest: /etc/nginx/sites-available/default-acme
    content: |
      server {
          listen 80 default_server;
          server_name _;

          location /.well-known/acme-challenge/ {
              root /var/www/letsencrypt;
          }

          location / {
              return 301 https://$host$request_uri;
          }
      }
  become: true
  notify: reload nginx

- name: Enable ACME/redirect vhost
  file:
    src: /etc/nginx/sites-available/default-acme
    dest: /etc/nginx/sites-enabled/default-acme
    state: link
  become: true
  notify: reload nginx

- name: Allow www-data to traverse home directory
  acl:
    path: "/home/{{ admin_user }}"
    entity: www-data
    etype: user
    permissions: x
    state: present
  become: true

- name: Create apps directory
  file:
    path: "{{ apps_dir }}"
    state: directory

- name: Allow www-data to traverse apps directory
  acl:
    path: "{{ apps_dir }}"
    entity: www-data
    etype: user
    permissions: x
    state: present
  become: true
