---
- name: Install nginx
  apt:
    name: nginx
    state: present
  become: true

- name: Remove default vhost
  file:
    path: /etc/nginx/sites-enabled/default
    state: absent
  become: true
  notify: reload nginx

- name: Allow www-data to traverse home directory
  acl:
    path: "/home/{{ admin_user }}"
    entity: www-data
    etype: user
    permissions: x
    state: present
  become: true

- name: Allow www-data to traverse apps directory
  acl:
    path: "{{ apps_dir }}"
    entity: www-data
    etype: user
    permissions: x
    state: present
  become: true
