---
- name: Create admin user
  user:
    name: "{{ admin_user }}"
    password: "{{ vault_admin_password }}"
    shell: /bin/bash
    groups:
      - sudo
    append: true
    create_home: true

- name: Add SSH authorized keys
  authorized_key:
    user: "{{ admin_user }}"
    key: "{{ item }}"
    state: present
  loop: "{{ ssh_pubkeys }}"
