---
- name: Create admin user
  user:
    name: "{{ admin_user }}"
    shell: /bin/bash
    groups:
      - sudo
    append: true
    create_home: true

- name: Add SSH authorized key
  authorized_key:
    user: "{{ admin_user }}"
    key: "{{ lookup('file', '~/.ssh/id_ed25519.pub') }}"
    state: present

- name: Allow passwordless sudo
  lineinfile:
    path: /etc/sudoers.d/{{ admin_user }}
    line: "{{ admin_user }} ALL=(ALL) NOPASSWD:ALL"
    create: true
    mode: "0440"
    validate: "visudo -cf %s"
