---
- name: Create chezmoi config directory
  file:
    path: "/home/{{ admin_user }}/.config/chezmoi"
    state: directory
    mode: "0755"

- name: Configure chezmoi data
  copy:
    dest: "/home/{{ admin_user }}/.config/chezmoi/chezmoi.toml"
    mode: "0644"
    content: |
      [data]
      tags = [
        "bash",
        "git",
        "production",
        "vim"
      ]

- name: Install chezmoi
  shell: sh -c "$(curl -fsLS get.chezmoi.io)" -- -b /usr/local/bin
  args:
    creates: "/usr/local/bin/chezmoi"
  become: true

- name: Initialize chezmoi with dotfiles repo
  command: "chezmoi init https://github.com/jpnance/chezmoi-dotfiles"
  args:
    creates: "/home/{{ admin_user }}/.local/share/chezmoi"

- name: Apply chezmoi dotfiles
  command: "chezmoi apply"
