---
- name: Create ~/bin directory
  file:
    path: "/home/{{ admin_user }}/bin"
    state: directory
    owner: "{{ admin_user }}"
    group: "{{ admin_user }}"
    mode: "0755"

- name: Create chezmoi config directory
  file:
    path: "/home/{{ admin_user }}/.config/chezmoi"
    state: directory
    owner: "{{ admin_user }}"
    group: "{{ admin_user }}"
    mode: "0755"

- name: Configure chezmoi data
  copy:
    dest: "/home/{{ admin_user }}/.config/chezmoi/chezmoi.toml"
    owner: "{{ admin_user }}"
    group: "{{ admin_user }}"
    mode: "0644"
    content: |
      [data]
      email = "jpnance@gmail.com"
      machine = "coin-ops-test"
      tags = ["bash", "git", "mrpretty", "runt", "vim"]

- name: Install chezmoi
  shell: sh -c "$(curl -fsLS get.chezmoi.io)" -- -b /home/{{ admin_user }}/bin
  args:
    creates: "/home/{{ admin_user }}/bin/chezmoi"

- name: Initialize chezmoi with dotfiles repo
  command: "/home/{{ admin_user }}/bin/chezmoi init --apply https://github.com/jpnance/chezmoi-dotfiles"
  args:
    creates: "/home/{{ admin_user }}/.local/share/chezmoi"
  become: false

- name: Apply chezmoi dotfiles
  command: "/home/{{ admin_user }}/bin/chezmoi apply"
  become: false
