server {
	listen 80;
	server_name {{ app.domain }};
	return 301 https://$server_name$request_uri;
}

server {
	listen 443 ssl;
	server_name {{ app.domain }};

	ssl_certificate /etc/letsencrypt/live/{{ app.domain }}/fullchain.pem;
	ssl_certificate_key /etc/letsencrypt/live/{{ app.domain }}/privkey.pem;
	include /etc/letsencrypt/options-ssl-nginx.conf;
	ssl_dhparam /etc/letsencrypt/ssl-dhparams.pem;

	root {{ apps_dir }}/{{ app.slug }};
	index index.html;

	access_log /var/log/nginx/{{ app.domain }}.access.log;
	error_log /var/log/nginx/{{ app.domain }}.error.log;

	gzip on;

	location / {
		try_files $uri $uri/ =404;
	}
}
