---
- name: Create backups directory
  file:
    path: "/home/{{ admin_user }}/backups"
    state: directory

- name: Create archives directory
  file:
    path: "/home/{{ admin_user }}/backups/archives"
    state: directory

- name: Copy make-backups.sh
  copy:
    src: make-backups.sh
    dest: "/home/{{ admin_user }}/backups/make-backups.sh"

- name: Schedule hourly backups
  cron:
    name: "hourly backup"
    minute: "33"
    job: "/usr/bin/bash /home/{{ admin_user }}/backups/make-backups.sh"
