---
- name: Create ops directory
  file:
    path: "{{ ops_dir }}"
    state: directory

- name: Create ops logs directory
  file:
    path: "{{ ops_dir }}/logs"
    state: directory

- name: Copy deploy.sh
  copy:
    src: deploy.sh
    dest: "{{ ops_dir }}/deploy.sh"

- name: Copy up.sh
  copy:
    src: up.sh
    dest: "{{ ops_dir }}/up.sh"

- name: Copy add-app.sh
  copy:
    src: add-app.sh
    dest: "{{ ops_dir }}/add-app.sh"

- name: Schedule deploy check every 5 minutes
  cron:
    name: "auto-deploy"
    minute: "*/5"
    job: "/usr/bin/bash {{ ops_dir }}/deploy.sh"
