---
- name: Install certbot
  apt:
    name: certbot
    state: present
  become: true

- name: Ensure certbot auto-renewal service is running
  service:
    name: certbot.timer
    state: started
    enabled: true
  become: true
