---
- name: Install certbot
  apt:
    name: certbot
    state: present
  become: true

- name: Ensure certbot auto-renewal service is running
  service:
    name: certbot.timer
    state: started
    enabled: true
  become: true

- name: Create letsencrypt directory
  file:
    path: /etc/letsencrypt
    state: directory
  become: true

- name: Download SSL options config
  get_url:
    url: https://raw.githubusercontent.com/certbot/certbot/master/certbot-nginx/certbot_nginx/_internal/tls_configs/options-ssl-nginx.conf
    dest: /etc/letsencrypt/options-ssl-nginx.conf
  become: true

- name: Download SSL dhparams
  get_url:
    url: https://raw.githubusercontent.com/certbot/certbot/master/certbot/certbot/ssl-dhparams.pem
    dest: /etc/letsencrypt/ssl-dhparams.pem
  become: true
