# So docker-compose doesn't get confused
COMPOSE_PROJECT_NAME=classix

# Use either "main" or "postseason"
COMPOSE_PROFILES=postseason

# Use "production" in production
NODE_ENV=production

# Use these
PORT=9895
MONGODB_URI=mongodb://classix-mongo:27017/classix
LOGIN_SERVICE_INTERNAL=https://login-web:5422
LOGIN_SERVICE_EXTERNAL=https://login.coinflipper.org
CLASSIX_SERVICE=https://classics.coinflipper.org/
TZ=America/New_York

# Bring your own
API_KEY=2a0795bc-32ed-4266-84d9-e77052612106
SEASON=2025
OPENING_DAY=2025-03-18
JACKIE_ROBINSON_DAY=2025-04-15
PLAYERS_WEEKEND=2019-08-23,2019-08-24,2019-08-25
FINAL_DAY=2025-09-28

# Use this at the end of the season to give out -1,000s
#FINALIZE=true

# Use this if you need to force an update for a particular game
#FORCE_UPDATE_FOR_GAME_ID=746320
