# So docker-compose doesn't get confused
COMPOSE_PROJECT_NAME=login

# Use "production" in production
NODE_ENV=production

# Use these
PORT=5422
MONGODB_URI=mongodb://login-mongo:27017/login
COOKIE_DOMAIN=coinflipper.org
ALLOWED_DOMAINS=https://classics.coinflipper.org,https://subcontest.coinflipper.org,https://pickahit.coinflipper.org,https://untitled.coinflipper.org,https://thedynastyleague.com
LOGIN_SERVICE=https://login.coinflipper.org/

# Bring your own
GMAIL_USERNAME={{ vault_login_gmail_username }}
GMAIL_PASSWORD={{ vault_login_gmail_password }}
GMAIL_FROM='{{ vault_login_gmail_from }}'
