# So docker-compose doesn't get confused
COMPOSE_PROJECT_NAME=pso

# Use either "main" or "postseason"
# But: Is there actually a postseason in PSO? Not really?
COMPOSE_PROFILES=main

# Use "production" in production
NODE_ENV=production

# Use these
SEASON=2025
PORT=9528
PSO_WEB_CONTAINER_NAME=pso-web
MONGODB_URI=mongodb://pso-mongo:27017/pso
WEB_SOCKET_URL=wss://thedynastyleague.com
LOGIN_SERVICE_PUBLIC=https://login.coinflipper.org
AUTH_CALLBACK_URL=https://thedynastyleague.com/auth/callback

# Bring your own
FANTRAX_COOKIES={{ vault_pso_fantrax_cookies }}

# These need to go away and just rely on Coinflipper Login but they're fine for now
AUCTION_USERS={ "anthony": "Anthony", "brett": "Brett", "jason": "Jason", "justin": "Justin", "keyon": "Keyon", "kociMueller": "Koci/Mueller", "luke": "Luke", "mike": " Mike", "mitch": "Mitch", "patrick": "Patrick", "quinn": "Quinn", "schexes": "Schexes" }
NOMINATION_ORDER=[ "Anthony", "Brett", "Jason", "Justin" , "Keyon", "Koci/Mueller", "Luke", "Mike", "Mitch", "Patrick", "Quinn", "Schexes" ]

GOOGLE_API_KEY={{ vault_google_api_key }}

SCUTTLEBOT={ "groupmeToken": "{{ vault_pso_scuttlebot_groupme_token }}", "rotowirePlayerId": 302586, "twitterUsername": "PsoScuttlebutt" }
BOMBBOT={ "groupmeToken": "{{ vault_pso_bombbot_groupme_token }}", "twitterUsername": "Dynasty2Colbys" }
