# So docker-compose doesn't get confused
COMPOSE_PROJECT_NAME=untitled

# Use either "main" or "postseason"
COMPOSE_PROFILES=main

# Use "production" in production
NODE_ENV=production

# Use these
PORT=8736
MONGODB_URI=mongodb://untitled-mongo:27017/untitled
LOGIN_SERVICE_INTERNAL=https://login-web:5422
LOGIN_SERVICE_EXTERNAL=https://login.coinflipper.org
UNTITLED_SERVICE=https://untitled.coinflipper.org/
TZ=America/New_York

# Bring your own
SEASON=2025
GOOGLE_API_KEY={{ vault_google_api_key }}
