---
- name: Create apps directory
  file:
    path: "{{ apps_dir }}"
    state: directory
    mode: "0755"

- name: Set up each app
  include_tasks: setup-app.yml
  loop: "{{ apps }}"
  loop_control:
    loop_var: app
