---
- name: Update apt cache
  apt:
    update_cache: true
    cache_valid_time: 3600

- name: Install base packages
  apt:
    name: 
      - acl
      - fail2ban
      - git
      - jq
      - kitty-terminfo
      - ufw
      - rsync
    state: present

- name: Set hostname
  hostname:
    name: "{{ hostname }}"
    use: debian

- name: Add hostname to /etc/hosts
  lineinfile:
    path: /etc/hosts
    line: "127.0.1.1 {{ hostname }}"
    state: present

- name: Set timezone
  timezone:
    name: UTC

- name: Allow traffic on certain ports
  ufw:
    rule: allow
    port: "{{ item }}"
    proto: tcp
  loop:
    - "22" # ssh
    - "2222" # ssh jumpbox
    - "80" # http
    - "443" # https

- name: Enable ufw and deny incoming traffic by default
  ufw:
    state: enabled
    policy: deny

- name: Enable fail2ban
  service:
    name: fail2ban
    state: started
    enabled: true

- name: Ensure sshd listens on port 22
  lineinfile:
    path: /etc/ssh/sshd_config
    regexp: "^#?Port 22$"
    line: "Port 22"
    state: present
  notify: restart sshd

- name: Add sshd listen port 2222
  lineinfile:
    path: /etc/ssh/sshd_config
    insertafter: "^Port 22"
    line: "Port 2222"
    state: present
  notify: restart sshd

- name: Disable root login via SSH
  lineinfile:
    path: /etc/ssh/sshd_config
    regexp: "^#?PermitRootLogin"
    line: "PermitRootLogin no"
    state: present
  notify: restart sshd

- name: Disable password authentication
  lineinfile:
    path: /etc/ssh/sshd_config
    regexp: "^#?PasswordAuthentication"
    line: "PasswordAuthentication no"
    state: present
  notify: restart sshd

- name: Disable empty passwords
  lineinfile:
    path: /etc/ssh/sshd_config
    regexp: "^#?PermitEmptyPasswords"
    line: "PermitEmptyPasswords no"
    state: present
  notify: restart sshd

- name: Disable X11 forwarding
  lineinfile:
    path: /etc/ssh/sshd_config
    regexp: "^#?X11Forwarding"
    line: "X11Forwarding no"
    state: present
  notify: restart sshd
