#!/bin/bash

container="{{ item.slug }}-mongo"
db="{{ item.slug }}"
monotonic=({{ item.monotonic | join(' ') }})

rm -f ${db}.gz ${db}.gz.meta

docker exec ${container} sh -c "mongodump --archive --gzip" > ${db}.gz

monotonic_json=$(printf '%s\n' "${monotonic[@]}" | jq -R . | jq -s .)

docker exec ${container} mongosh ${db} --quiet --eval "
	const meta = {
		db: '${db}',
		timestamp: new Date().toISOString(),
		monotonic: ${monotonic_json},
		collections: db.getCollectionNames().map(collectionName => ({
			name: collectionName,
			count: db.getCollection(collectionName).countDocuments()
		}))
	};
	JSON.stringify(meta, null, 2);
" > ${db}.gz.meta
