#!/bin/sh

cd /home/{{ admin_user }}/backups

rm -rf archives/
mkdir archives

{% for item in apps | selectattr('type', 'equalto', 'node') %}
cd {{ item.slug }}
bash backup.sh
cp {{ item.slug }}.gz {{ item.slug }}.gz.meta ../archives/
cd ..

{% endfor %}
